

# Maven
target/
build/
dist/
.mvn/

# IDEs
.idea/
.vscode/
.settings/
*.iml
*.ipr
*.iws
.classpath
.project

# NetBeans
nbbuild/
nbdist/
nbproject/private/
.nb-gradle/

# STS
.apt_generated
.factorypath
.springBeans
.sts4-cache

# Logs e temporários
*.log
*.tmp
*.bak

# Arquivos de ambiente
.env
